@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-inter: var(--font-inter);

  --color-primary-50: #f1f9fe;
  --color-primary-100: #e2f3fc;
  --color-primary-200: #bfe6f8;
  --color-primary-300: #87d2f2;
  --color-primary-400: #48bce8;
  --color-primary-500: #20a3d7;
  --color-primary-600: #1283b6;
  --color-primary-700: #106994;
  --color-primary-800: #11597b;
  --color-primary-900: #144a66;
  --color-primary-950: #0d3044;
}

body {
  font-family: var(--font-inter);
}
